/* Over Ons Pagina */

* {
    padding: 0;
    margin: 0;
}

#homepagina {
    background-image: linear-gradient(#000000, rgb(59, 135, 193));
    height: 100vh;
    width: 99vw;
}

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

#titel2 {
    position: absolute;
    border: solid 1px white;
    text-align: center;
    width: 240px;
    top: 1%;
    left: 125%;
    padding: 6px;
    text-align: center;
    padding: 20px;
    color: white;
    background-image: radial-gradient(rgb(94, 149, 191), rgb(2, 34, 59));
    border-radius: 20px;
}

#beschrijving2 {
    position: absolute;
    border: solid 1px white;
    padding: 10px;
    width: 15cm;
    height: 8cm;
    top: 22%;
    left: 125%;
    color: white;
    background-image: linear-gradient(rgb(40, 102, 149), rgb(166, 214, 251));
    border-radius: 20px;
}


#developers {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 135%;
    left: 30%;
    text-align: center;
    width: 150px;
}

#HelpCenter {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 135%;
    left: 105%;
    width: 95px;
    text-align: center;
    width: 150px;
}

#terms {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 135%;
    left: 180%;
    text-align: center;
    width: 151px;
}

#developers, #HelpCenter, #terms {
    background-image: radial-gradient(rgb(109, 177, 229), rgb(170, 206, 236));
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}