* {
    padding: 0;
    margin: 0;
}

#homepagina {
    background-image: linear-gradient(#000000, rgb(59, 135, 193));
    height: 150vh;
    width: 99vw;
}

#main-image {
    position: absolute;
    width: 100px;
    left: 48%;
    top: 30px;
}

#titel1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    left: 20%;
    font-size: 2em;
    top: 30%;
    padding: 10px;
}

#foto1, #foto2, #foto3 {
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    border-radius: 20px;
}

#titel1, #naam1, #naam2, #naam3 {
    background-image: radial-gradient(rgb(94, 149, 191), rgb(2, 34, 59));
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    border-radius: 20px;
}

#rang1, #rang2, #rang3 {
    background-image: radial-gradient(rgb(166, 214, 251), rgb(40, 102, 149));
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    border-radius: 20px;
}

#about, #HelpCenter, #terms {
    background-image: radial-gradient(rgb(109, 177, 229), rgb(170, 206, 236));
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
}

#foto1 {
 position: absolute;
 border: 1px solid rgb(255, 255, 255);
 color: white;
 width: 300px;
 left: 41%;
 top: 30%;
}
#naam1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1.1em;
    left: 38%;
    text-align: center;
    padding: 10px 10px 18px 10px;
    top: 55%;
    width: 10cm;
    height: 10px;
}
#rang1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 10cm;
    height: 2cm;
    left: 38%;
    top: 61%;
    text-align: center;
    font-size: 1.4em;
    padding: 40px 10px 0 10px;
}


#foto2 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 150px;
    left: 18%;
    top: 80%;
}
#naam2 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1.1em;
    left: 10%;
    text-align: center;
    padding: 10px 10px 18px 10px;
    top: 112%;
    width: 10cm;
    height: 10px;
}
#rang2 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 10cm;
    height: 2cm;
    left: 10%;
    top: 118%;
    text-align: center;
    font-size: 1.4em;
    padding: 40px 10px 0 10px;
}

#foto3 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    height: 250px;
    left: 73%;
    top: 81.5%;
}
#naam3 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 1.1em;
    left: 65%;
    text-align: center;
    padding: 10px 10px 18px 10px;
    top: 112%;
    width: 10cm;
    height: 10px;
}
#rang3 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 10cm;
    height: 2cm;
    left: 65%;
    top: 118%;
    text-align: center;
    font-size: 1.4em;
    padding: 40px 10px 0 10px;
}

#about {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 140%;
    left: 25%;
    text-align: center;
    width: 150px;
}

#HelpCenter {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 95px;
    text-align: center;
    width: 150px;
}

#terms {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 140%;
    left: 66%;
    text-align: center;
    width: 151px;
}