* {
    padding: 0;
    margin: 0;
}

#homepagina {
    background-image: linear-gradient(#000000, rgb(59, 135, 193));
    height: 150vh;
    width: 99vw;
}

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

#titel1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}


#foto1 {
 position: absolute;
 border: 1px solid rgb(255, 255, 255);
 color: white;
 width: 100px;
}
#naam1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
#rang1 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}


#foto2 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 100px;
}
#naam2 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
#rang2 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}


#foto3 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
#naam3 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
#rang3 {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}