* {
    padding: 0;
    margin: 0;
}

#homepagina {
    background-image: linear-gradient(#000000, rgb(59, 135, 193));
    height: 150vh;
    width: 99vw;
}

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

#slogan {
    color: white;
    border: solid 1px white;
    padding: 10px;
    width: 13cm;
    font-size: 3em;
    justify-content: center;
    position: absolute;
    top: -5%;
    left: 135%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#join {
    color: white;
    border: solid 1px white;
    font-size: 2em;
    position: absolute;
    top: 30%;
    left: 135%;
    width: 6cm;
    padding: 10px;
}

#button-account-maken {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 135%;
    width: 7cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(74, 168, 240); 
    border: none; 
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    transition-duration: 0.4s; 
}

#button-account-maken:hover {
    background-color: #1e8888; 
}

#keuze {
    color: white;
    font-size: 0.7em;
    border: solid 1px white;
    padding: 10px;
    top: 67%;
    left: 164%;
    position: absolute;
}


#button-inloggen {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 135%;
    width: 7cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(74, 168, 240); 
    border: none; 
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    transition-duration: 0.4s; 
}

#titel1 {
    position: absolute;
    border: solid 1px white;
    text-align: center;
    width: 30cm;
    top: 160%;
    left: 5%;
    padding: 6px;
}

#beschrijving {
    position: absolute;
    border: solid 1px white;
    padding: 10px;
    width: 29.8cm;
    height: 5cm;
    top: 170%;
    left: 5%;
}

#button-inloggen:hover {
background-color: #1e8888;
}



#OverOns {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 235%;
    left: 4.5%;
    text-align: center;
    width: 150px;
}

#ontwikkelaars {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 235%;
    left: 65%;
    text-align: center;
    width: 150px;
}

#HelpCentrum {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 235%;
    left: 130%;
    width: 95px;
    text-align: center;
    width: 150px;
}

#voorwaarden {
    border: solid 1px white;
    padding: 10px;
    position: absolute;
    top: 235%;
    left: 195%;
    text-align: center;
    width: 151px;
}

