* {
    padding: 0;
    margin: 0;
}

#homepagina {
    background-image: linear-gradient(#000000, rgb(59, 135, 193));
    height: 120vh;
    width: 99vw;
}

#main-image {
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
    height: 80px;
}

#login-template {
    border: solid 1px white;
    position: absolute;
    width: 60%;
    height: 800px;
    top: 10%;
    left: 18%;
    border-radius: 20px;
    background-image: linear-gradient(#000d1d, rgb(105, 187, 249));
}

#kruis {
    border: solid 1px white;
    position: absolute;
    top: 10%;
    right: 430%;
    font-size: 4em;
    color: white;
    height: 70px;
}

#titel1 {
    border: solid 1px white;
    position: absolute;
    top: 170%;
    color: white;
    right: 10%;
    width: 10cm;
    height: 1cm;
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

#titel2 {
    border: solid 1px white;
    position: absolute;
    top: 280%;
    right: 315%;
    color: white;
    font-size: 1.5em;
    width: 100px;
    text-align: center;
}

#titel3 {
    border: solid 1px white;
    position: absolute;
    top: 500%;
    right: 283%;
    color: white;
    font-size: 1.5em;
    width: 130px;
    text-align: center;
}

#beschrijving1 {
    border: solid 1px white;
    position: absolute;
    top: 330%;
    right: -283%;
    width: 18cm;
    height: 2cm;
    font-size: larger;
}

#beschrijving2 {
    border: solid 1px white;
    position: absolute;
    top: 550%;
    right: -283%;
    width: 18cm;
    height: 2cm;
    font-size: larger;
}

#aanmaak-button {
    border: solid 1px white;
    position: absolute;
    top: 772%;
    color: white;
    right: -160%;
    width: 12cm;
    height: 2cm;
    padding: 15px 10px 10px 10px;
    text-align: center;
    font-size: 1.6em;
    border-radius: 20px;
}

#aanmaak-button:hover {
    background-color: #1e8888; 
    transition-duration: 0.4s; 
    cursor: pointer;
}

#links {
    position: absolute;
    color: white;
    border: solid 1px white;
    width: 9cm;
    text-align: center;
    font-size: 1.2em;
    top: 880%;
    right: -100%;
}
